<div class="search-form mt-4">
    <form method="POST" action="/news">
      <div class="form-group">
        <label for="search-input">Từ khóa</label>
        <input type="text" class="form-control" name="info" id="search-input" aria-describedby="emailHelp" placeholder="Nhập từ khóa">
      
      </div>
     
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>